body {
    display: flex;
    flex-direction: column;
    height: 95vh;
}

header, nav, footer {
    flex: 1
}

#wrapper {
    flex-grow: 1;
    display: flex;
    padding: 10px 5px;
    background-color: aliceblue;
}

#wrapper>*:nth-child(1) {
    flex-grow: 1;
}

footer {
    text-align: center;
}
#is-js-loaded {
    color:blue;
}

/*common classes */
.flex-cols {
    display: flex;
    justify-content: space-between;
}

.flex-cols>* {
    text-align: center;
}
#thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height:80vh;
    overflow-y: scroll;
}
#thumbnails > .meme-thumbnail {
    width:32%;
    height:200px;
    padding: 5px;
}

#input-small-nud {
    width: 50px;
  
}

#input-big-nud {
    width: 80px;
}